<h1>FREE Samples</h1>
<% @products.each do |p| %>
  <div>
    <%= image_tag(p.image.src, width: '400', height: 'auto') %>
    <h2><%= p.title %></h2>
    <p><%= p.body_html %></p>
  </div>
  <br>
<% end %>
<pre>
  Params : <%= params.to_json %>
<br>
Your Shop Details:
<hr>
  Shop Name       : {{ shop.name }}
  myshopify name      : {{ shop.permanent_domain }}
  Primary Domain of Shop    : {{ shop.domain }}
  Shop URL      : {{ shop.url }}
  Shop Currency       : {{ shop.currency }}
  No. of products in this shop  : {{ shop.products_count }}
<br>
<hr>
</pre>
